{% extends 'base.html.twig' %}

{% block title %}Mon panier - {{ brand_name }}{% endblock %}

{% block content %}
    <h1>Mon panier</h1>

    <table class="table mt-3">
        <thead>
            <tr>
            <th scope="col">Produit</th>
            <th scope="col"></th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% set total = null %}
            {% for choice in cart %}
            <tr>
                <th>
                    <img src="/uploads/{{ choice.product.illustration }}" alt="{{ choice.product.name }}" height="75px">
                </th>
                <td>
                    {{ choice.product.name }}<br>
                    <small>{{ choice.product.subtitle }}</small>
                </td>
                <td>x {{ choice.quantity }}</td>
                <td>{{ (choice.product.price / 100)|number_format(2) }} €</td>
                <td>{{ (choice.product.price * choice.quantity / 100)|number_format(2) }} €</td>
            </tr>
                {% set total = total + (choice.product.price * choice.quantity) %}
            {% endfor %}
        </tbody>
    </table>
    <div class="text-right mb-5">
        <b>Nombre de produits :</b> {{ cart|length }}<br>
        <b>Total de mon panier :</b> {{ (total / 100)|number_format(2) }} €
        <a href="" class="btn btn-success btn-block mt-2 w-25 mx-auto">Valider mon panier</a>
    </div>

{% endblock %}
