{% extends 'base.html.twig' %}

{% block title %}Mon compte - {{ brand_name }}{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    Bienvenue dans votre compte, {{ app.user.firstname }}. <br> C'est dans cet espace que vous allez pouvoir gérer votre compte.
    <!-- {{ dump(app.user) }} // display user properties -->
    <hr>
    - <a href="{{ path('account_password') }}">Modifier mon de passe</a><br>
    - <a href="{{ path('account_address') }}">Gérer mes adresses</a><br>
    - <a href="{{ path('account_order') }}">Mes commandes</a><br>
    <hr>
{% endblock %}
