{% extends 'base.html.twig' %}

{% block content %}

    <h1>Inscription</h1>

    {% if notification %}
        <div class="alert alert-{{ notificationType }}">{{ notification }}</div>
        <!--Example inline if condition twig: <div class="alert alert-{{ notificationType=='danger' ? 'danger' :'info' }}">{{ notification }}</div> -->
    {% endif %}
    

    <!-- Create form with the form method, and inject the form variable from RegisterController -->
    <!-- The RegisterType defines which values are generated -->
    {{ form(form) }}

{% endblock %}
